@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  color: var(--main-text-cl);
  background-color: var(--main-bg-cl);
}

main {
  min-height: calc(100vh - 297px);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
