@import '~node_modules/modern-normalize/modern-normalize.css';

.is-hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-cl);
  color: var(--main-text-cl);
}
