@import '~node_modules/modern-normalize/modern-normalize.css';
.is-hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: var(--main-bg-cl);
  color: var(--main-text-cl);
  font-weight: 500;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

:root {
  --main-font: "Roboto", sans-serif;
  --main-text-cl: #000000;
  --secondary-text-cl: #ffffff;
  --info-title-cl: #8C8C8C;
  --text-footer-cl: #545454;
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7
  --secondary-accent-cl: #ff6b08;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 500ms;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.btn {
  padding: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
.btn--accent {
  border-color: transparent;
  color: var(--main-bg-cl);
  background-color: #ff6b08;
}

.btn-wrapper {
  display: flex;
}

.header__btn {
  width: 130px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .header__btn {
    width: 152px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn {
    width: 147px;
    height: 42px;
  }
}

.header__btn-wrapper {
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header__btn-wrapper {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn-wrapper {
    gap: 16px;
  }
}

.accent-box {
  display: inline-block;
  height: 16px;
  width: 36px;
  text-align: center;
  color: var(--main-bg-cl);
  border-radius: 5px;
  background-color: #ff6b08;
}

.pale-box {
  display: inline-block;
  height: 16px;
  width: 36px;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  background-color: #f7f7f7;
}

.header {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 230px;
  background-color: #303030;
  background-image: url(../images/abstract-1x-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/abstract-2x-mobile.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    height: 220px;
    background-image: url(../images/abstract-1x-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/abstract-2x-tablet.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/abstract-1x-Desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/abstract-2x-Desktop.jpg);
  }
}

.header__nav {
  margin-top: 40px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 100%;
  }
}

.header__logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  color: var(--secondary-text-cl);
}

.header__logo-svg:hover {
  stroke: #ff6b08;
}

.header__logo-text {
  font-size: 30px;
  line-height: 35.16px;
  display: none;
  margin-left: 12px;
  color: var(--secondary-text-cl);
  margin-left: 12px;
  color: var(--secondary-text-cl);
}
@media screen and (min-width: 768px) {
  .header__logo-text {
    display: inline;
  }
}

.header__nav-list {
  display: flex;
  color: var(--secondary-text-cl);
}

.header__nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav-item:first-child {
  margin-right: 39px;
}

.header__nav-item {
  display: flex;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
.header__nav-item:hover, .header__nav-item:focus {
  color: #ff001b;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 3px;
  background: #ff001b;
}

.header__form {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__input {
  min-width: 180px;
  color: var(--secondary-text-cl);
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;
  outline: unset;
  padding-top: 20px;
  transition-property: border-bottom;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
@media screen and (min-width: 768px) {
  .header__input {
    min-width: 336px;
    height: 20px;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__input {
    min-width: 395px;
  }
}
.header__input:hover, .header__input:focus {
  color: #ff6b08;
  border-bottom: 0.5px solid #ff6b08;
}

.header__form-btn {
  position: relative;
  padding: 10px;
  left: -21px;
  border: 0;
  background-color: transparent;
  padding-right: 10px;
  left: -21px;
  padding-top: 30px;
  padding-bottom: 10px;
  fill: #ffffff;
  transition-property: stroke;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}
@media screen and (min-width: 768px) {
  .header__form-btn {
    padding-top: 13px;
  }
}
.header__form-btn:hover, .header__form-btn:focus {
  stroke: #ff6b08;
}

svg {
  fill: transparent;
}

input::-moz-placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  -moz-transition-property: fill;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  -ms-transition-property: fill;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

input::placeholder {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
input::-moz-placeholder:hover, input::-moz-placeholder:focus {
  color: #ff6b08;
}
input:-ms-input-placeholder:hover, input:-ms-input-placeholder:focus {
  color: #ff6b08;
}
input::placeholder:hover, input::placeholder:focus {
  color: #ff6b08;
}

.header-library {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: 230px;
  background-color: #303030;
  background-image: url(../images/Rectangle-1x-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/Rectangle-2x-mobile.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-library {
    height: 220px;
    background-image: url(../images/Rectangle-1x-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/Rectangle-2x-tablet.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header-library {
    background-image: url(../images/Rectangle-1x-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/Rectangle-2x-desktop.jpg);
  }
}

.header-library__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .content__list {
    padding: 20px 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .content__list {
    padding: 60px 0 60px 0;
  }
}

.content__item {
  border: 0.5px solid black;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .content__item {
    width: calc((100% - 60px) / 2);
  }
}

.content__film-image {
  border: 0.5px solid black;
  min-width: 280px;
  height: 402px;
}
@media screen and (min-width: 768px) {
  .content__film-image {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .content__film-image {
    width: 395px;
    height: 574px;
  }
}

.content__film-name {
  border: 0.5px solid black;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--main-text-cl);
}
@media screen and (min-width: 768px) {
  .content__film-name {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .content__film-name {
    font-size: 20px;
    line-height: 24px;
  }
}

.content__film-info {
  border: 0.5px solid black;
  font-size: 12px;
  line-height: 16px;
  color: var(--secondary-accent-cl);
}
@media screen and (min-width: 768px) {
  .content__film-info {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .content__film-info {
    font-size: 20px;
    line-height: 24px;
  }
}

.content-library__image {
  display: inline;
  min-width: 300px;
  margin-top: 20px;
}
@media screen and (min-width: 1280px) {
  .content-library__image {
    min-width: 600px;
  }
}

.content-library__title {
  font-size: 24px;
  line-height: 16px;
  margin-top: 20px;
}

.content-library__link {
  text-decoration: underline;
}

.content-library__link:hover,
.content-library__link:focus {
  color: var(---secondary-accent-cl);
}

.content-library__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  background: var(--secondary-bg-cl);
  min-height: 77px;
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    justify-content: center;
  }
}

.footer__text {
  display: flex;
  text-align: center;
  color: var(--text-footer-cl);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
}
@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 14px;
    line-height: 1.4;
    justify-content: center;
  }
}

.footer__image {
  font-style: normal;
  display: flex;
  align-items: center;
  color: #ff6b08;
  margin: 0 6px;
  font-size: 19px;
}

.team {
  margin-left: 5px;
  color: #f1b361;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .team {
    font-size: 14px;
  }
}

.footer__btn {
  margin: 0 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  visibility: visible;
  pointer-events: painted;
  opacity: 1;
  overflow-y: scroll;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  height: 940px;
  padding: 48px 20px 40px 20px;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--main-bg-cl);
  visibility: visible;
  pointer-events: painted;
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .film-modal {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .film-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal {
    left: 50%;
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

@media screen and (min-width: 768px) {
  .film-modal__wrapper {
    display: flex;
    gap: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal__wrapper {
    gap: 16px;
  }
}

.film-modal__btn--close,
.team-modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: inherit;
  border: none;
}

.film-modal__about {
  margin-top: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.film-modal__description {
  min-width: 240px;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .film-modal__description {
    margin-bottom: 20px;
  }
}

.film-modal__btn {
  width: 110px;
  height: 44px;
}
@media screen and (min-width: 768px) {
  .film-modal__btn {
    width: 125px;
    height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal__btn {
    width: 136px;
    height: 44px;
  }
}

.film-modal__btn-wrapper {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .film-modal__btn-wrapper {
    gap: 15px;
  }
}

.film-modal__thumb {
  height: 357px;
  max-width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .film-modal__thumb {
    max-width: 264px;
    height: 373;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal__thumb {
    max-width: 375px;
    height: 478px;
  }
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.film-modal__img {
  width: 100%;
  height: 100%;
}

.film-modal__info {
  text-align: left;
}
@media screen and (min-width: 768px) {
  .film-modal__info {
    width: 265px;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal__info {
    width: 391px;
  }
}

.film-modal__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;
}
@media screen and (min-width: 1280px) {
  .film-modal__title {
    font-size: 30px;
  }
}

.params {
  display: flex;
  margin-bottom: 20px;
}

.params__list {
  width: 108px;
  margin: 0;
  padding: 0;
  color: var(--info-title-cl);
  list-style: none;
}

.params__item {
  margin: 0;
}
.params__item:not(:last-child) {
  margin-bottom: 8px;
}

.params__data {
  margin: 0;
  padding: 0;
  list-style: none;
}

.params__data-item {
  margin: 0;
}
.params__data-item:not(:last-child) {
  margin-bottom: 8px;
}
.params__data-item.js-title {
  text-transform: uppercase;
}

.js-votes {
  color: var(--info-title-cl);
}

.team-title {
  margin: 30px 0;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
  color: #e5641f;
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .team-list {
    justify-content: space-evenly;
  }
}

.team-item {
  width: 280px;
  height: 450px;
  margin-bottom: 10px;
}
.team-item:hover, .team-item:focus {
  box-shadow: 0 0 5px rgba(222, 94, 8, 0.923);
}
@media screen and (min-width: 768px) {
  .team-item {
    margin-right: 14px;
    margin-left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .team-item {
    margin-right: 7px;
    margin-left: 7px;
  }
}

.team-item__photo {
  height: 280px;
  width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-item__name {
  margin: 20px 0 10px 0;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.team-item__position {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 10px 0;
}

.team-item__info-contacts {
  font-size: 15px;
  font-weight: 400;
  display: block;
  text-align: center;
  margin-bottom: 5px;
  color: rgba(228, 100, 8, 0.81);
}

.button-close-team-modal {
  display: block;
  margin: 20px auto;
  width: 70px;
  border: 1px var(--secondary-accent-cl) solid;
  border-radius: 20px;
  transition: 250ms ease;
}
.button-close-team-modal:hover, .button-close-team-modal:focus {
  background-color: var(--secondary-accent-cl);
  stroke: var(--secondary-text-cl);
  cursor: pointer;
}
.button-close-team-modal:hover .icon-close-team-modal, .button-close-team-modal:focus .icon-close-team-modal {
  stroke: var(--secondary-text-cl);
}
@media screen and (min-width: 768px) {
  .button-close-team-modal {
    width: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .button-close-team-modal {
    width: 200px;
    margin: 50px auto;
    height: 40px;
  }
}

.icon-close-team-modal {
  margin: auto;
  display: block;
  stroke: var(--secondary-accent-cl);
  transition: 250ms ease;
}

.backdrop-team {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.modal-container {
  transform: translate(-50%, -50%) scale(0);
}

.modal-team {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 280px;
  max-height: 95vh;
  transform: translate(-50%, 0) scale(1);
  overflow-y: auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--secondary-text-cl);
}
@media screen and (max-width: 767px) {
  .modal-team {
    min-height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .modal-team {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 618px;
    min-height: 562px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-team {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 950px;
    min-height: 562px;
    padding: 20px;
  }
}/*# sourceMappingURL=index.css.map */