  <div class="container content-library__card">
    <div class="content-library__img-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_epAIe4gfBz_nm87nThUhz4RS9jX1NY4jWQ&usqp=CAU" alt="mike" class="content-library__image" />
    </div>
    <div class="content-library__list">
      <h2 class="content-library__title">Ouhh... it's empty in here!</h2>
      <p class="content-library__text">
        <a class="content-library__link" href="./index.html">Go back</a> and add
        your favorite movies.
      </p>
    </div>
  </div>