$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

:root {
  // Fonts
  --main-font: 'Roboto', sans-serif;

  // Text colors
  --main-text-cl: #000000;
  --secondary-text-cl: #ffffff;

  --info-title-cl: #8C8C8C;
  --text-footer-cl: #545454;

  // Background colors
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #f7f7f7;

  --secondary-accent-cl: #ff6b08;

  // Transition
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 500ms;
}