<div data-backdrop class="backdrop visually-hidden">
  <div data-team-modal class="modal-team modal-container visually-hidden">
    <button data-team-modal-close class="team-modal__btn--close">
      <svg class="backdrop__icon js-btn-close" width="30" height="30">
        <use class="js-btn-close" href="./images/symbol-defs.svg#icon-close-window-orange"></use>
      </svg>
    </button>
    <h2 class="team-title">Team</h2>
    <ul class="team-list">
      <li class="team-item">
        <img class="team-item__image" src="./images/team-foto/AlexFotoIPG.jpg" alt="Photo of a team member" />
        <div class="description-illustration">
          <h3>Alex-Taylor</h3>
          <p class="team-item__position">Team-lead</p>
        </div>
        <ul class="social-links">
          <li>
            <a class="source-icon" href="mailto:alexdankoxxl@gmail.com">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" rel="noopener noreferrer" href="https://github.com/dankozz1t/">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" rel="noopener noreferrer" href="https://www.linkedin.com/in/dankozz1/">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img class="team-item__image" src="./images/team-foto/AlexShvets.jpg" alt="Photo of a team member." />
        <div class="description-illustration">
          <h3>Alexey Shvets</h3>
          <p class="team-item__position">Scrum-master</p>
        </div>
        <ul class="social-links">
          <li>
            <a class="source-icon" href="mailto:shvetsalexei@gmail.com">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img class="team-item__image" src="./images/team-foto/ChumachenkoDen.jpg" alt="Photo of a team member." />
        <div class="description-illustration">
          <h3>Chumachenko Denis</h3>
          <p class="team-item__position">Developer</p>
        </div>

        <ul class="social-links">
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img class="team-item__image" src="./images/team-foto/Miriam Fainshtein.jpg" alt="Photo of a team member." />
        <div class="description-illustration">
          <h3>Miriam Fainshtein</h3>
          <p class="team-item__position">Developer</p>
        </div>

        <ul class="social-links">
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="team-item">
        <img class="team-item__image" src="./images/team-foto/AnastasiaSvechnikova.jpg" alt="Photo of a team member." />
        <div class="description-illustration">
          <h3>Anastasiia Svechnikova</h3>
          <p class="team-item__position">Developer</p>
        </div>
        <ul class="social-links">
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-google"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="source-icon" href="">
              <svg class="social-network" width="20" height="20">
                <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
  </div>

  <div data-film-modal class="film-modal visually-hidden">
    <button data-film-modal-close class="film-modal__btn--close btn--hover--modal">
      <svg class="backdrop__icon js-btn-close" width="30" height="30">
        <use class="js-btn-close" href="./images/symbol-defs.svg#icon-close-window"></use>
      </svg>
    </button>

    <div class="film-modal__wrapper">
      <div class="film-modal__thumb">
        <img class="film-modal__img" src="#" alt="..." />
      </div>
      <div class="film-modal__info">
        <h2 class="film-modal__title js-name"></h2>
        <table class="params">
          <tr class="params__list">
            <td class="params__item">Vote/Votes</td>
            <td class="params__data-item js-votes">
              <span class="accent-box js-accent-box"></span> /
              <span class="pale-box js-pale-box"></span>
            </td>
          </tr>
          <tr class="params__list">
            <td class="params__item">Popularity</td>
            <td class="params__data-item js-rating">100.2</td>
          </tr>
          <tr class="params__list">
            <td class="params__item">Original Title</td>
            <td class="params__data-item js-title"></td>
          </tr>
          <tr class="params__list">
            <td class="params__item">Genre</td>
            <td class="params__data-item js-genre"></td>
          </tr>
        </table>

        <p class="film-modal__about">About</p>
        <p class="film-modal__description js-about"></p>
        <ul class="btn-wrapper film-modal__btn-wrapper">
          <li>
            <button type="button" class="btn btn--accent film-modal__btn">
              Add to watched
            </button>
          </li>
          <li>
            <button type="button" class="btn film-modal__btn">
              Add to qeue
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>