<div data-backdrop class="backdrop visually-hidden">
<div data-film-modal class="film-modal visually-hidden">
    <button data-film-modal-close class="film-modal__btn--close ">
      <svg class="backdrop__icon js-btn-close" width="30" height="30">
        <use class="js-btn-close" href="./images/symbol-defs.svg#icon-close-window"></use>
      </svg>
    </button>
    <div class="film-modal__wrapper">
      <div class="film-modal__thumb">
        <img class="film-modal__img" src="./images/film.png" alt="..." />
      </div>
      <div class="film-modal__info">
        <h2 class="film-modal__title">A Fistful Of Lead</h2>
        <div class="params">
          <ul class="params__list">
            <li class="params__item">Vote/Votes</li>
            <li class="params__item">Popularity</li>
            <li class="params__item">Original Title</li>
            <li class="params__item">Genre</li>
          </ul>

          <ul class="params__data">
            <li class="params__data-item js-votes">
              <span class="accent-box ">7.3</span> /
              <span class="pale-box ">1260</span>
            </li>
            <li class="params__data-item js-rating">100.2</li>
            <li class="params__data-item js-title">A Fistful Of Lead</li>
            <li class="params__data-item js-genre">Western</li>
          </ul>
        </div>
        
          <p class="film-modal__about">About</p> 
          <p class="film-modal__description">
            Four of the West's most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they've been double crossed – but by who and how?
          </p>  <div class="btn-wrapper film-modal__btn-wrapper"><button type="button" class="btn btn--accent film-modal__btn">
          Add to watched
        </button>
        <button type="button" class="btn film-modal__btn">
          Add to qeue
        </button></div>
        </div>
      
        
      </div>
    </div>
  </div>
</div>
