<h1 class="is-hidden">FOOTER</h1>
 <footer>
  <div class="footer container ">
    <div class="footer__box">
      <p class="footer__text">© 2022 | All Rights Reserved |</p>
      <p class="footer__text">
        Developed with
        <span class="footer__image"> 
          <svg width="14" height="13"> <use href="./images/symbol-defs.svg#icon-Group-heart"></use></svg>
        </span>
        by
      <a class="team" href="#">GoIT Students</a></p>        
      </p>
    </div>
  </div>
</footer> 

