<header class="header-library">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__logo-svg" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-film-from-header"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span></a
      >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="./index.html" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="./library.html" class="header__nav-link current"
            >My library</a
          >
        </li>
      </ul>
    </nav>

    <div class="switch__btn">
      <div class="switch__btn__icon-container">
        <i class="switch__btn__icon fa-solid fa-sun"></i>
      </div>
    </div>

    <ul class="header__btn-wrapper btn-wrapper js-library-controls">
      <li>
        <button
          class="header__btn btn btn--white btn-js-active js-btn-watched"
          type="button"
        >
          Watched
        </button>
      </li>
      <li>
        <button class="header__btn btn btn--white js-btn-qeue" type="button">
          Queue
        </button>
      </li>
    </ul>
  </div>
</header>
