<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="" class="header__logo">
        <svg class="logo"><use href=""></use></svg>Filmoteka</a
      >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="../pages/my-library.html" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a href="../pages/my-library.html" class="header__nav-link"
            >My library</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
