<section class="hero-home">
  <form class="hero-home__form" id="search-form">
    <div class="hero-home__content">
      <input
        name="query"
        class="hero-home__input"
        type="text"
        placeholder="Movie search"
      />
      <button type="submit" class="hero-home__form-btn">
        <svg class="hero-home__form-icon" width="12" height="12">
          <use href="/src/images/symbol-defs.svg#icon-lupa-for-input"></use>
        </svg>
      </button>
    </div>
  </form>
</section>
