<section class="pagination">
  <div class="container">
    <ul class="pagination__controls">
      <!-- <li>
        <button class="pagination__btn pagination__btn--pale" type="button">
          <
        </button>
      </li>
      <li>
        <button class="pagination__btn js-first" type="button">1</button>
      </li>
      <li><p class="pagination__btn js-left-rest" type="button">...</p></li>
      <li>
        <button class="pagination__btn js-second-previous" type="button">
          14
        </button>
      </li>
      <li>
        <button class="pagination__btn js-previous" type="button">15</button>
      </li> -->
      <!-- <li>
        <button
          class="pagination__btn pagination__btn--accent js-current"
          type="button"
        >
          16
        </button>
      </li> -->
      <!-- <li>
        <button class="pagination__btn js-next" type="button">17</button>
      </li>
      <li>
        <button class="pagination__btn js-second-next" type="button">18</button>
      </li>

      <li><p class="pagination__btn js-right-rest" type="button">...</p></li>

      <li>
        <button class="pagination__btn js-last" type="button">1000</button>
      </li>
      <li>
        <button class="pagination__btn pagination__btn--pale" type="button">
          >
        </button>
      </li> -->
    </ul>
  </div>
</section>
