<div class="backdrop">
  <div class="modal">
    <h2 class="team-title">Team</h2>
    <ul class="team-list">
      <li class="team-item">
        <!-- <img class="team-item__photo" src="" alt="Photo of a team member" /> -->
        <h3 class="team-item__name">Alex-Taylor</h3>
        <p class="team-item__position">Team-lead</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="tel:+380936625265"
              >+380936625265</a
            >
          </li>
          <li>
            <a
              class="team-item__info-contacts"
              href="mail:alexdankoxxl@gmail.com"
              >alexdankoxxl@gmail.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <!-- <img class="team-item__photo" src="" alt="Photo of a team member." /> -->
        <h3 class="team-item__name">Alexey Shvets</h3>
        <p class="team-item__position">Scrum-master</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="tel:+380508627089"
              >+380508627089</a
            >
          </li>
          <li>
            <a
              class="team-item__info-contacts"
              href="mail:vtopalov.dev@gmail.com"
              >shvetsalexei@gmail.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <!-- <img class="team-item__photo" src="" alt="Photo of a team member." /> -->
        <h3 class="team-item__name">Chumachenko Denis</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="tel:+380630584007"
              >+380630584007</a
            >
          </li>
          <li>
            <a
              class="team-item__info-contacts"
              href="mail:chumachenko.d@gmail.com"
              >chumachenko.d@gmail.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <!-- <img class="team-item__photo" src="" alt="Photo of a team member." /> -->
        <h3 class="team-item__name">Miriam Fainshtein</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="tel:+3800000000000"
              >+38 00000000000</a
            >
          </li>
          <li>
            <a
              class="team-item__info-contacts"
              href="mail:miriam.fainshtein@gmail.com"
              >miriam.fainshtein@gmail.com</a
            >
          </li>
        </ul>
      </li>
      <li class="team-item">
        <!-- <img class="team-item__photo" src="" alt="Photo of a team member." /> -->
        <h3 class="team-item__name">Anastasiia Svechnikova</h3>
        <p class="team-item__position">Developer</p>
        <ul class="team-item__contacts">
          <li>
            <a class="team-item__info-contacts" href="tel:+380997682939"
              >+380997682939</a
            >
          </li>
          <li>
            <a
              class="team-item__info-contacts"
              href="mail:anastasiiakundriukova@ymail.com"
              >anastasiiakundriukova@ymail.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <button class="button-close-team-modal" type="button">
      <svg class="icon-close-team-modal" width="30px" height="30px">
        <use href="./images/symbol-defs.svg#icon-close-window"></use>
      </svg>
    </button>
  </div>
</div>
