.accent-box {
  display: inline-block;

  height: 16px;
  width: 36px;

  text-align: center;

  color: var(--main-bg-cl);
  background-color: var(--secondary-accent-cl);
  border-radius: 5px;
}

.pale-box {
  display: inline-block;

  height: 16px;
  width: 36px;

  text-align: center;

  color: var(--black-btn-color);
  background-color: var(--secondary-bg-cl);
  border-radius: 5px;
}

.accent-box-rating {
  margin-left: 5px;

  @include media(desktop) {
    height: 20px;
    width: 40px;

    text-align: center;
    font-size: 12px;
  }
}
