.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0 5px;

  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;

  &:hover {
    animation: rotate 0.7s ease-in-out both;
    animation-delay: 0.04s;
  }

  &--white {
    color: var(--white-btn-color);
    border-color: var(--white-btn-color);

    &:hover {
      border-color: var(--accent-btn-color);
      color: var(--white-btn-color);
      background-color: var(--accent-btn-color);
    }
  }

  &--accent {
    border-color: var(--accent-btn-color);
    color: var(--white-btn-color);
    background-color: var(--accent-btn-color);
  }

  &--black {
    border-color: var(--black-btn-color);
    color: var(--black-btn-color);
    opacity: 1;

    &:hover {
      border-color: var(--accent-btn-color);
      color: var(--white-btn-color);
      background-color: var(--accent-btn-color);
    }
  }
}

.btn-wrapper {
  display: flex;
}
