.btn {
  padding: 0 5px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;

  cursor: pointer;

  &--accent {
    border-color: transparent;
    color: var(--main-bg-cl);
    background-color: #ff6b08;
  }
}

.btn-wrapper {
  display: flex;
}
