.container {
  margin: 0 auto;
  width: 100%;

  @include media(mobile-only) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 320px;
  }

  @include media(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @include media(desktop) {
    width: 1280px;
  }
}
