.content {
  @include media(mobile-only) {
    padding: 20px 0 20px 0;
  }

  @include media(tablet) {
    padding: 60px 0 60px 0;
  }
}

.content__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.content__item {
  @include media(tablet-only) {
    width: calc((100% - 3 * 30px) / 2);
  };

  @include media(desktop) {
    flex-basis: calc((100% - 32px)/3);
  }
}


.content__film-image {
  width: 100%
}

.content__film-name {
  @include font(500, 12px, 14px);
  text-transform: uppercase;
  color: var(--main-text-cl);

  @include media(tablet) {
    @include font(500, 12px, 16px);
  }

  @include media(desktop) {
    @include font(500, 20px, 24px);
  }
}

.content__film-info {
  @include font(500, 12px, 16px);

  @include media(tablet) {
    @include font(500, 12px, 16px);
  }

  @include media(desktop) {
    @include font(500, 20px, 24px);
    margin-top: 12px;
  }
}

.content__film-subscription {
  color: var(--secondary-accent-cl);
}

.card-gallery-image {
  display: block;
  border-radius: 5px;

  @include media(desktop) {
    width: 394px;
    height: 574px;

  }
}