.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 999;

  background: rgba(0, 0, 0, 0.25);

  visibility: visible;
  pointer-events: painted;
  opacity: 1;
  overflow-y: scroll;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);

  max-height: 940px;
  height: fit-content;
  padding: 48px 20px 40px 20px;

  font-size: 12px;
  line-height: 1.33;

  background-color: var(--main-bg-cl);
  box-shadow: 0 0 20px -3px black;
  border-radius: 5px;

  visibility: visible;
  pointer-events: painted;
  opacity: 1;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include media(mobile-only) {
    max-width: 280px;
  }

  @include media(tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }

  @include media(desktop) {
    left: 50%;

    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.film-modal__wrapper {
  @include media(tablet) {
    display: flex;
    gap: 68px;
  }

  @include media(desktop) {
    gap: 16px;
  }
}

.film-modal__btn--close,
.team-modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  background-color: inherit;
  border: none;
  stroke: vat(--black-btn-color);
}

.backdrop__icon {
  stroke: var(--black-btn-color);
}

.film-modal__about {
  margin-top: 0;
  margin-bottom: 8px;

  text-transform: uppercase;
}

.film-modal__description {
  min-width: 240px;
  height: fit-content;
  max-height: 245px;
  margin-bottom: 20px;
  margin-top: 0;
  color: var(--main-text-cl);

  line-height: 1.7;

  overflow-y: scroll;

  @include media(tablet) {
    max-height: 225px;
    margin-bottom: 20px;
  }

  @include media(desktop) {
    max-height: 165px;
  }
}

.film-modal__btn {
  width: 110px;
  height: 44px;

  @include media(tablet) {
    width: 125px;
    height: 44px;
  }

  @include media(desktop) {
    width: 136px;
    height: 44px;
  }
}

.film-modal__btn-wrapper {
  display: flex;
  gap: 20px;

  @include media(tablet) {
    gap: 15px;
  }
}

.film-modal__thumb {
  height: 357px;
  max-width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;

  @include media(tablet) {
    max-width: 264px;
    height: 373;
  }

  @include media(desktop) {
    max-width: 375px;
    height: 478px;
  }
}

.film-modal__img {
  width: 100%;
  height: 100%;
}

.film-modal__info {
  text-align: left;

  @include media(tablet) {
    width: 265px;
  }

  @include media(desktop) {
    width: 391px;
  }
}

.film-modal__title {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--main-text-cl);

  font-size: 20px;
  line-height: 1.17;
  text-transform: uppercase;

  @include media(desktop) {
    font-size: 30px;
  }
}

.params {
  margin-bottom: 20px;
}

.params__list {
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.params__item {
  display: inline-block;
  width: 108px;
  margin: 0;
  padding: 0;

  color: var(--info-title-cl);

  @include media(desktop) {
    width: 150px;
  }
}

.params__data-item {
  margin: 0;
  padding: 0;
  min-width: 150px;
  color: var(--main-text-cl);

  &.js-title {
    text-transform: uppercase;
  }
}

.js-votes {
  color: var(--info-title-cl);
}
