.footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  background: var(--secondary-bg-cl);
  min-height: 77px;
}

.footer__box {
  @include media(tablet) {
    display: flex;
    justify-content: center;
  }
}

.footer__text {
  @include media(mobile-only) {
    font-size: 14px;
    line-height: 1.4;
    justify-content: center;
  }

  display: flex;
  text-align: center;
  color: var(--text-footer-cl);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
}

.footer__image {
  font-style: normal;
  display: flex;
  align-items: center;
  color: #ff6b08;
  margin: 0 6px;
  font-size: 19px;
}

.team {
  @include media(mobile-only) {
    font-size: 14px;
  }
  margin-left: 5px;
  color: #f1b361;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
}
.footer__btn {
  margin: 0 5px;
}
