.header-library {
  margin-left: auto;
  margin-right: auto;

  display: flex;

  height: 230px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #303030;
  opacity: 0.9;

  @include media(mobile-only) {
    background-image: url(../images/Rectangle-1x-mobile.jpg);

    @include media(retina) {
      background-image: url(../images/Rectangle-2x-mobile.jpg);
    }
  }

  @include media(tablet-only) {
    background-image: url(../images/Rectangle-1x-tablet.jpg);
    height: 220px;

    @include media(retina) {
      background-image: url(../images/Rectangle-2x-tablet.jpg);
    }
  }

  @include media(desktop) {
    background-image: url(../images/Rectangle-1x-desktop.jpg);

    @include media(retina) {
      background-image: url(../images/Rectangle-2x-desktop.jpg);
    }
  }
}

.header__btn-wrapper {
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btn {
  text-transform: none;
}
