.header__nav {
  display: flex;
  position: relative;
}
.header__logo {
  color: var(--main-text-cl);
}
// .logo {
// }
// .header__nav-list {
// }
// .header__nav-item {
// }
// .header__nav-link {
// }
