.header {
  margin-left: auto;
  margin-right: auto;

  display: flex;

  height: 230px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #303030;
  opacity: 0.9;

  @include media(mobile-only) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/abstract-1x-mobile.jpg);

    @include media(retina) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/abstract-2x-mobile.jpg);
    }
  }

  @include media(tablet-only) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/abstract-1x-tablet.jpg);
    height: 220px;

    @include media(retina) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/abstract-2x-tablet.jpg);
    }
  }

  @include media(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/abstract-1x-Desktop.jpg);

    @include media(retina) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/abstract-2x-Desktop.jpg);
    }
  }
}

.header__nav {
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 280px;

  @include media(tablet) {
    width: 100%;
  }
}

.header__logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  color: var(--secondary-text-cl);

  transition: color, transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);

  &:hover,
  &:focus {
    color: #ff6b08;
    transform: scale(1.1);
    animation: transition 0.2s ease-out;

    &:active {
      box-shadow: 0 0 0 0 transparent;
      transition: box-shadow 0.2s ease-in;
    }

    &:before {
      content: '';
      display: block;
      width: 0px;
      height: 86%;
      position: absolute;
      top: 7%;
      left: 0%;

      opacity: 0;
      background: white;
      box-shadow: 0 0 15px 3px white;
      transform: skewX(-20deg);

      animation: shine 0.5s 0s linear;
    }

    .header__logo-svg:hover {
      box-shadow: 0 0 30px 0 transparentize(#ff6b08, 0.5);
    }
  }
}

@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.header__logo-text {
  display: none;

  margin-left: 12px;

  @include font(30px, 35.16px);

  @include media(tablet) {
    display: inline;
  }
}

.header__nav-list {
  display: flex;

  color: var(--secondary-text-cl);
}

.header__nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__nav-item:first-child {
  margin-right: 39px;
}

.header__nav-item {
  position: relative;

  display: flex;

  @include font(12px, 14px);
  text-transform: uppercase;

  transition: transform, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);

  &:hover,
  &:focus {
    color: #ff6b08;
    transform: scale(1.1);
  }
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 3px;
  background: #ff001b;
}

.header__form {
  margin-left: 50px;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  transition-property: transform, color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);

  &:hover,
  &:focus {
    color: #ff6b08;
    transform: scale(1.1);
  }

  @include media(tablet) {
    margin-top: 20px;
  }
}

.header__input {
  min-width: 180px;

  color: inherit;
  background-color: transparent;

  border: none;
  border-bottom: 0.7px solid currentColor;

  outline: unset;

  @include media(tablet) {
    min-width: 336px;
    height: 20px;
  }

  @include media(desktop) {
    min-width: 395px;
  }
}

.header__form-btn {
  position: relative;
  left: -18px;
  bottom: -3px;

  border: none;
  background-color: transparent;
  color: transparent;

  padding: 15px 0;
}

input::placeholder {
  @include font(12px, 16px);
  font-weight: 400;
  color: inherit;
}

.header__btn {
  width: 130px;
  height: 44px;

  @include media(tablet) {
    width: 152px;
    height: 44px;
  }
  @include media(desktop) {
    width: 147px;
    height: 42px;
  }
}

.header__btn-wrapper {
  gap: 20px;
  @include media(tablet) {
    gap: 32px;
  }
  @include media(desktop) {
    gap: 16px;
  }
}

.failure-message {
  width: fit-content;
  margin: 5px auto;

  color: #ff001b;
  font-size: 13px;
}
