.hero-home {
  //   position: absolute;
}
.hero-home__content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 230px;
  width: 100%;

  background-image: url(../images/abstract-1x-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(retina) {
    background-image: url(/src/images/abstract-2x-mobile.jpg);
  }

  @include media(tablet) {
    height: 220px;

    background-image: url(/src/images/abstract-1x-tablet.jpg);

    @include media(retina) {
      background-image: url(/src/images/abstract-2x-tablet.jpg);
    }
  }

  @include media(desktop) {
    background-image: url(/src/images/abstract-1x-Desktop.jpg);

    @include media(retina) {
      background-image: url(/src/images/abstract-2x-Desktop.jpg);
    }
  }
}

.hero-home__input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 180px;

  color: var(--secondary-text-cl);
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;

  outline: unset;

  @include media(tablet) {
    min-width: 336px;
    height: 20px;
  }

  @include media(desktop) {
    min-width: 395px;
  }
}

.hero-home__form-btn {
  position: relative;
  padding: 10px;
  left: -21px;

  border: 0;
  background-color: inherit;

  fill: #ffffff;
}

.hero-home__content:hover,
.hero-home__content:focus {
  border: 0.5px solid var(--secondary-accent-cl);
}

input::placeholder {
  color: #ffffff;
  @include font(400, 12px, 16px);
}
