.hero-home__content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 230px;

  background-image: url(../images/abstract-1x-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/abstract-1x-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(retina) {
    background-image: url(/src/images/abstract-2x-mobile.jpg);
  }

  @include media(tablet) {
    height: 220px;

    background-image: url(/src/images/abstract-1x-tablet.jpg);

    @include media(retina) {
      background-image: url(/src/images/abstract-2x-tablet.jpg);
    }
  }

  @include media(desktop) {
    background-image: url(/src/images/abstract-1x-Desktop.jpg);

    @include media(retina) {
      background-image: url(/src/images/abstract-2x-Desktop.jpg);
    }
  }
}

.hero-home__input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 180px;

  color: var(--secondary-text-cl);

  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: transparent;

  outline: unset;
  padding-top: 20px;

  @include media(tablet) {
    min-width: 336px;
    height: 20px;

    padding-top: 0;
  }

  @include media(desktop) {
    min-width: 395px;
  }

  &:hover,
  &:focus {
    color: (var(---secondary-accent-cl));
    border-bottom: 0.5px solid #ff6b08;
  }

  transition-property: border-bottom;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}

.hero-home__form-btn {
  position: relative;
  padding: 10px;
  left: -21px;

  border: 0;
  background-color: inherit;

  padding-right: 10px;
  left: -21px;
  padding-top: 30px;
  padding-bottom: 10px;

  fill: #ffffff;

  @include media(tablet) {
    padding-top: 13px;
  }

  &:hover,
  &:focus {
    fill: #ff6b08;
  }

  transition-property: fill;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}

input::placeholder {
  @include font(400, 12px, 16px);
  color: #ffffff;

  //   &:hover,
  //   &:focus {
  //     color: #ff6b08;
  //   }

  //   transition-property: fill;
  //   transition-duration: var(--transition-time);
  //   transition-timing-function: var(--transition-cubic);

  @include font(400, 12px, 16px);
}

// .hero-home__form-icon:hover,
// .hero-home__form-icon:focus {
//   fill: #ff6b08;
// }
