.pagination {
  padding: 0 0 60px 0;
}

.pagination__controls {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.pagination__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: inherit;
  background-color: inherit;
  border-color: transparent;
  border-radius: 5px;

  &:hover {
    transform: scale(1.2);
  }

  transition: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);

  &--accent {
    color: var(--main-bg-cl);
    background-color: var(--secondary-accent-cl);
  }

  &--pale {
    background-color: var(--secondary-bg-cl);
  }
}
.pagination__rest,
.pagination__first,
.pagination__last {
  @include media(mobile-only) {
    display: none;
  }
}

.pagination__first.js-first-no-hide,
.pagination__last.js-last-no-hide {
  @include media(mobile-only) {
    display: flex;
  }
}
