.slider {
  margin-bottom: 50px;
}
.slider__cell {
  width: 142px;
  height: 201px;

  background: #282a2d;

  @include media(tablet) {
    width: 213px;
    height: 302px;
  }

  @include media(desktop) {
    width: 284px;
    height: 402px;
  }
}

.slider__img {
  width: 95%;
  height: 201px;

  @include media(tablet-only) {
    height: 302px;
  }

  @include media(desktop) {
    height: 402px;
  }
}

.slider__img {
  border-radius: 5px;
  transition: transform 0.25s;
}
.slider__img:hover {
  transform: scale(1.1);
  transition: transform;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-cubic);
}

.slider .flickity-button:focus {
  outline: none;
  box-shadow: 0 0 10px 5px var(--secondary-accent-cl);
}

.slider .flickity-page-dot:focus {
  box-shadow: 0 0 10px 1px var(--secondary-accent-cl);
}
